<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">
  © Copyright 2019
  <a href="https://github.com/Puyodead1-Development">Puyodead1 Development</a> &
  <a href="https://github.com/Puyodead1">Puyodead1</a>
</p>
