<!-- views/partials/head.ejs -->
<meta charset="UTF-8" /> <title>SATAROSS</title>
<link rel="icon" href="/img/favicon.png" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"
/>
<meta name="author" content="Puyodead1" />
<meta name="description" content="SATAROSS - Automated Scam Site Finder" />

<meta property="og:type" content="website" />
<meta property="og:title" content="SATAROSS" />
<meta property="og:image" content="/img/favicon.png" />
<meta
  property="og:description"
  content="SATAROSS - Automated Scam Site Finder"
/>

<meta name="twitter:title" content="SATAROSS" />
<meta name="twitter:image" content="/img/favicon.png" />
<meta
  name="twitter:description"
  content="SATAROSS - Automated Scam Site Finder"
/>

<link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
<meta name="theme-color" content="#FF0000" />
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//bootswatch.com/4/cyborg/bootstrap.css" />
<style>
  body {
    padding-top: 50px;
  }
  .logo {
    width: 20%;
  }
  .jumbotron {
    padding: 20px;
  }
</style>
