<!-- views/partials/head.ejs -->
<meta charset="UTF-8" /> <title>SATAROSS</title>
<link rel="icon" href="/img/favicon.png" />
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//bootswatch.com/4/cyborg/bootstrap.css" />
<style>
  body {
    padding-top: 50px;
  }
  .logo {
    width: 20%;
  }
  .jumbotron {
    padding: 20px;
  }
</style>
