<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header><% include ../partials/header %></header>

    <main>
      <div class="jumbotron">
        <!-- <div class="logo"><img id="logo" src="/img/logo.png" alt="Logo" /></div>-->
        <img
          src="/img/logo.png"
          alt="logo"
          style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;"
        />
        <!-- About -->
        <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
          <div class="card-body">
            <h4 class="card-title">What is SATAROSS?</h4>
            <ul>
              <li>
                SATAROSS is based off ADAROSS (Automated Detection and Reporting
                of Scam Sites) by Galigus of Scammer.info.
              </li>
              <li>
                SATAROSS is an automated web crawler that visits known redirect
                links in search of popups. <br />SATAROSS checks the site for
                words that appear on popups such as `spyware, riskware,
                pornographic, etc`.
              </li>
              <li>
                If SATAROSS finds a site that matches the test, it will take a
                screenshot of the site and create a post on Discord with the
                screenshot and URL.
              </li>
            </ul>
          </div>
        </div>
        <!-- End About -->

        <!-- Invite -->
        <div
          class="card text-white bg-secondary mb-3"
          style="max-width: 80rem;"
        >
          <div class="card-body">
            <h4 class="card-title">Inviting SATAROSS</h4>
            <p class="card-text">
              You can add SATAROSS to your Discord Server by clicking
              <a
                href="https://discordapp.com/api/oauth2/authorize?client_id=535602358856450048&permissions=2048&scope=bot"
                >this</a
              >
              link.
            </p>
          </div>
        </div>
        <!-- End Invite -->

        <!-- Open Source -->
        <div class="card text-white bg-success mb-3" style="max-width: 80rem;">
          <div class="card-body">
            <h4 class="card-title">Open-Source</h4>
            <p class="card-text">
              SATAROSS is Open-Source on
              <a href="https://github.com/Puyodead1-Development.me/SATAROSS"
                >Github</a
              >, licensed under
              <a
                href="https://github.com/Puyodead1-Development/SATAROSS/blob/master/LICENSE"
                >Apache 2.0</a
              >.
            </p>
          </div>
        </div>
        <!-- End Open Source -->

        <!-- Progress -->
        <!--
        <div class="card text-white bg-info mb-3" style="max-width: 80rem;">
          <div class="card-body">
            <h4 class="card-title">Development Progress</h4>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                aria-valuenow="15"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 15%"
              ></div>
            </div>
          </div>
        </div>
         -->
        <!-- End Progress -->

        <!-- Upcoming -->
        <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
          <div class="card-body">
            <h4 class="card-title">Planned Features/TODO</h4>
            <ul class="list-group">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Better and More Precise Detection
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Site Blacklisting
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                More Discord Features
              </li>
            </ul>
          </div>
        </div>
        <!-- End Upcoming -->

        <!-- Start Contact -->
        <div class="card text-white bg-success mb-3" style="max-width: 80rem;">
          <div class="card-body">
            <h4 class="card-title">Contact</h4>
            <ul class="list-group">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Discord:
                <a href="https://discord.gg/8aqEzCR">Join Our Discord Server</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                E-Mail:
                <a href="mailto:puyodead1@puyodead1-development.me"
                  >Puyodead1@puyodead1-development.me</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- End Contact -->

        <!-- Start Contributors -->
        <div class="card text-white bg-danger mb-3" style="max-width: 80rem;">
          <div class="card-body">
            <h4 class="card-title">Contributors</h4>
            <ul class="list-group">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <img
                  src="https://cdn.discordapp.com/avatars/213247101314924545/cb523cbab74bafbacf28ee731d87406f.png?size=64"
                />
                Puyodead1
                <span class="badge badge-pill badge-primary"
                  >Lead Developer</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <img
                  src="https://cdn.discordapp.com/avatars/505466807092772865/f239aba987bd6001ed6dedd4183308a2.png?size=64"
                />
                Content_Deleted
                <span class="badge badge-pill badge-secondary"
                  >Assistant Developer</span
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- End Contributors -->
      </div>
    </main>

    <footer><% include ../partials/footer %></footer>
  </body>
</html>
